*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: sans-serif;
    cursor: default;
    background-color: white;
    color: #a0a6ae;
    font-size: 12px;
}

/* Utilities */

.button {
    background-color: #eb008e;
    padding: 10px 20px;
    border-radius: 100px;

}

.button .link-button {
    text-align: center;
    text-transform: none;
    color: white;
    font-weight: bold;
    padding: 0;
}

/* Header | Navbar */

.navbar {
    width: 900px;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.left-bar {
    text-transform: uppercase;
    flex-basis: 45%;
}

.right-bar {
    text-transform: capitalize;
    flex-basis: 55%;  
}

.left-bar li,
.right-bar li {
    list-style: none;
    display: inline-block;
    padding-right: 5px;
}

.left-bar li a,
.right-bar li a {
    text-decoration: none;
    color: #a0a6ae; 
    padding-right: 10px;
}

.left-bar li img{
    width: 100px;
    height: 30px;
    vertical-align: sub;
    margin-right: 15px;
}