*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: sans-serif;
    cursor: default;
    background-color: white;
    color: #a0a6ae;
}

/* Header | Navbar */

.navbar {
    width: 960px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.left-bar {
    text-transform: uppercase;
    flex-grow: 40%;
}

.right-bar {
    text-transform: capitalize;
    flex-grow: 50%;  
}

.left-bar li,
.right-bar li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
}

.left-bar li a,
.right-bar li a {
    text-decoration: none;
    color: #a0a6ae; 
    padding-right: 10px;
}

.left-bar li img{
    width: 100px;
    height: 30px;
    vertical-align: sub;
}